In [1]:
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain_experimental.sql import SQLDatabaseChain
from langchain.prompts import PromptTemplate
from langchain.prompts.chat import HumanMessagePromptTemplate
from langchain.chat_models import ChatOpenAI
from langchain.schema import HumanMessage, SystemMessage

In [2]:
OPENAI_API_KEY = "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"
llm = ChatOpenAI(temperature=0, openai_api_key=OPENAI_API_KEY)

C:\Users\nr802\AppData\Local\Temp\ipykernel_23916\1703113971.py:2: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  llm = ChatOpenAI(temperature=0, openai_api_key=OPENAI_API_KEY)

In [ ]:
host = 'localhost'
port = '3306'
username = 'root'
#password = ''
database_schema = 'database'
mysql_uri = f"mysql+pymysql://{username}@{host}:{port}/{database_schema}"
#mysql_uri = f"mysql+pymysql://{username:password}@{host}:{port}/{database_schema}"
db = SQLDatabase.from_uri(mysql_uri, include_tables=['person data'],sample_rows_in_table_info=2)
#top_k=100
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [4]:
def retrieve_from_db(query: str) -> str:
    db_context = db_chain(query)
    db_context = db_context['result'].strip()
    return db_context

In [5]:
from langchain.prompts import HumanMessagePromptTemplate
from langchain.schema import SystemMessage
def generate(query: str) -> str:
    # Step 1: Retrieve data from the dataset based on the query
    db_context = retrieve_from_db(query)  # Ensure this returns a meaningful string
    # Step 2: Define the system message with detailed dataset context
    system_message = f"""You are a data expert specializing in banking and financial analysis.
    Your task is to answer users' questions by providing relevant insights from a dataset containing personal and financial information.
    The dataset includes the following columns:
    
    - **Customer ID**: Unique identifier for each customer.
    - **Gender**: Gender of the customer.
    - **Age**: Age of the customer.
    - **Region**: Geographical region of residence.
    - **Job Classification**: Type of job (e.g., White Collar, Blue Collar).
    - **Date Joined**: Date when the customer joined.
    - **Balance**: Financial balance in the customer's account.

    Provide concise and informative answers based on the data context provided.
    
    Example:
    
    **Input:**
    What is the average balance of customers in England?
    
    **Context:**
    The average balance of customers in England is 45,000.00.
    
    **Output:**
    The average balance of customers in England is 45,000.00.
    """
    
    # Step 3: Create the human message template for dynamic interaction
    human_qry_template = HumanMessagePromptTemplate.from_template(
        """**Input:**
        {human_input}
        
        **Context:**
        {db_context}
        
        **Output:**"""
    )
    
    # Step 4: Compile messages for the LLM
    messages = [
        SystemMessage(content=system_message),
        human_qry_template.format(human_input=query, db_context=db_context)
    ]
    
    # Step 5: Generate the response using the language model
    response = llm(messages).content
    return response

In [6]:
# from langchain.prompts import HumanMessagePromptTemplate
# from langchain.schema import SystemMessage
# import pandas as pd

# # Load the dataset
# file_path = 'C:/Users/nr802/Downloads/GenAI Projects/P6-UK-Bank-Customers.csv'
# df = pd.read_csv(file_path)

# # Function to retrieve relevant data from the dataset
# def retrieve_from_db(query: str) -> str:
#     # Process the query to determine what data to retrieve
#     if "average balance" in query.lower():
#         # Example: Calculate average balance for a specific region or job classification
#         if "region" in query.lower():
#             # Extract region name from the query (e.g., "in England")
#             region = query.split("in")[-1].strip()
#             avg_balance = df[df['Region'].str.contains(region, case=False)]['Balance'].mean()
#             return f"The average balance of customers in {region} is {avg_balance:,.2f}."
#         elif "job classification" in query.lower():
#             # Extract job classification (e.g., "White Collar")
#             job = query.split("classification")[-1].strip()
#             avg_balance = df[df['Job Classification'].str.contains(job, case=False)]['Balance'].mean()
#             return f"The average balance of customers in {job} classification is {avg_balance:,.2f}."
#         else:
#             return "Please specify a region or job classification for the average balance."

#     # If no relevant data is found
#     return "No relevant data found for your query. Please refine your question."

# # Function to generate response
# def generate(query: str) -> str:
#     # Step 1: Retrieve data from the dataset based on the query
#     db_context = retrieve_from_db(query)  # Ensure this returns a meaningful string
    
#     # Handle empty or no-result responses
#     if not db_context:
#         return "No relevant data found for your query. Please refine your question."

#     # Step 2: Define the system message with detailed dataset context
#     system_message = f"""You are a data expert specializing in banking and financial analysis.
#     Your task is to answer users' questions by providing relevant insights from a dataset containing personal and financial information.
#     The dataset includes the following columns:
    
#     - **Customer ID**: Unique identifier for each customer.
#     - **Gender**: Gender of the customer.
#     - **Age**: Age of the customer.
#     - **Region**: Geographical region of residence.
#     - **Job Classification**: Type of job (e.g., White Collar, Blue Collar).
#     - **Date Joined**: Date when the customer joined.
#     - **Balance**: Financial balance in the customer's account.

#     Provide concise and informative answers based on the data context provided.
    
#     Example:
    
#     **Input:**
#     What is the average balance of customers in England?
    
#     **Context:**
#     The average balance of customers in England is 45,000.00.
    
#     **Output:**
#     The average balance of customers in England is 45,000.00.
#     """
    
#     # Step 3: Create the human message template for dynamic interaction
#     human_qry_template = HumanMessagePromptTemplate.from_template(
#         """**Input:**
#         {human_input}
        
#         **Context:**
#         {db_context}
        
#         **Output:**"""
#     )
    
#     # Step 4: Compile messages for the LLM
#     messages = [
#         SystemMessage(content=system_message),
#         human_qry_template.format(human_input=query, db_context=db_context)
#     ]
    
#     # Step 5: Generate the response using the language model
#     try:
#         response = llm(messages).content  # Ensure llm is correctly configured in your environment
#         return response.strip()  # Return a clean response
#     except Exception as e:
#         return f"An error occurred while processing your query: {str(e)}"

# # Example Usage:
# query = "What is the average balance of customers in England?"
# response = generate(query)
# print(response)

Provide names of all people from England
Provide count of all Male people
Provide count of all female who are from Wales
Provide count of people with White color jobs
Provide count of people with Blue Color jobs
Provide count of people whose balance is above 5000
Provide names of all people who are white color and age above 35
Provide count of all female people who are with White color job
Provide count of people from Wales and doing white color jobs
Provide average age of people with white color job
provide maximum balance and name of the person
Provide minimum balance and name, job classification

In [6]:
generate("Provide names all people of from England")

C:\Users\nr802\AppData\Local\Temp\ipykernel_23916\3606437300.py:2: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  db_context = db_chain(query)

> Entering new SQLDatabaseChain chain...
Provide names all people of from England
SQLQuery:SELECT `Name`, `Surname`
FROM p6_uk_bank_customers
WHERE `Region` = 'England'
LIMIT 5;
SQLResult: [('Simon', 'Walsh'), ('Liam', 'Brown'), ('Deirdre', 'Pullman'), ('Dorothy', 'Thomson'), ('Dominic', 'Parr')]
Answer:Simon Walsh, Liam Brown, Deirdre Pullman, Dorothy Thomson, Dominic Parr
> Finished chain.

C:\Users\nr802\AppData\Local\Temp\ipykernel_23916\3145700933.py:51: LangChainDeprecationWarning: The method `BaseChatModel.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  response = llm(messages).content

'Simon Walsh, Liam Brown, Deirdre Pullman, Dorothy Thomson, Dominic Parr'

In [7]:
generate("Provide count of all Male people")

> Entering new SQLDatabaseChain chain...
Provide count of all Male people
SQLQuery:SELECT COUNT(`Customer ID`) AS Male_Count
FROM p6_uk_bank_customers
WHERE Gender = 'Male';
SQLResult: [(2165,)]
Answer:There are 2165 Male people in the database.
> Finished chain.

'The count of all Male people in the database is 2165.'

In [8]:
generate("Provide count of all female who are from Wales")

> Entering new SQLDatabaseChain chain...
Provide count of all female who are from Wales
SQLQuery:SELECT COUNT(`Customer ID`) AS FemaleCount
FROM p6_uk_bank_customers
WHERE Gender = 'Female' AND Region = 'Wales';
SQLResult: [(282,)]
Answer:There are 282 females from Wales.
> Finished chain.

'There are 282 females from Wales.'

In [9]:
generate("Provide count of people with White color jobs")

> Entering new SQLDatabaseChain chain...
Provide count of people with White color jobs
SQLQuery:SELECT COUNT(`Customer ID`) AS `White Collar Count`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar';
SQLResult: [(1955,)]
Answer:There are 1955 people with White Collar jobs.
> Finished chain.

'There are 1955 people with White Collar jobs.'

In [10]:
generate("Provide count of people with Blue Color jobs")

> Entering new SQLDatabaseChain chain...
Provide count of people with Blue Color jobs
SQLQuery:SELECT COUNT(`Customer ID`) AS `Blue Collar Count`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'Blue Collar';
SQLResult: [(1049,)]
Answer:Blue Collar Count: 1
> Finished chain.

'Blue Collar Count: 1'

In [11]:
generate("Provide count of people whose balance is above 5000")

> Entering new SQLDatabaseChain chain...
Provide count of people whose balance is above 5000
SQLQuery:SELECT COUNT(`Customer ID`) AS `Count`
FROM p6_uk_bank_customers
WHERE `Balance` > 5000
SQLResult: [(3690,)]
Answer:There are 3690 people whose balance is above 5000.
> Finished chain.

'The count of people whose balance is above 5000 is 3690.'

In [12]:
generate("Provide names of all people who are white color and age above 35")

> Entering new SQLDatabaseChain chain...
Provide names of all people who are white color and age above 35
SQLQuery:SELECT `Name`, `Surname`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar' AND `Age` > 35
LIMIT 5;
SQLResult: [('Liam', 'Brown'), ('Dominic', 'Parr'), ('Dominic', 'Lewis'), ('Benjamin', 'Grant'), ('Nicholas', 'Newman')]
Answer:Liam Brown, Dominic Parr, Dominic Lewis, Benjamin Grant, Nicholas Newman
> Finished chain.

'Liam Brown, Dominic Parr, Dominic Lewis, Benjamin Grant, Nicholas Newman'

In [13]:
generate("Provide count of all female people who are with White color job")

> Entering new SQLDatabaseChain chain...
Provide count of all female people who are with White color job
SQLQuery:SELECT COUNT(`Customer ID`) AS Female_White_Collar_Count
FROM p6_uk_bank_customers
WHERE Gender = 'Female' AND `Job Classification` = 'White Collar';
SQLResult: [(1010,)]
Answer:There are 1010 female people with a White Collar job.
> Finished chain.

'The count of all female individuals with a White Collar job is 1010.'

In [14]:
generate("Provide count of people from Wales and doing white color jobs")

> Entering new SQLDatabaseChain chain...
Provide count of people from Wales and doing white color jobs
SQLQuery:SELECT COUNT(`Customer ID`) AS `Count`
FROM p6_uk_bank_customers
WHERE Region = 'Wales' AND `Job Classification` = 'White Collar';
SQLResult: [(305,)]
Answer:There are 305 people from Wales doing white collar jobs.
> Finished chain.

'The count of people from Wales doing white collar jobs is 305.'

In [15]:
generate("Provide average age of people with white color job")

> Entering new SQLDatabaseChain chain...
Provide average age of people with white color job
SQLQuery:SELECT AVG(`Age`) AS `Average Age`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar';
SQLResult: [(Decimal('35.2793'),)]
Answer:The average age of people with a white collar job is 35.2793 years.
> Finished chain.

'The average age of people with a White Collar job is 35.2793 years.'

In [18]:
generate("Give me maximum balance and name of the person")

> Entering new SQLDatabaseChain chain...
Give me maximum balance and name of the person
SQLQuery:SELECT `Name`, `Balance`
FROM p6_uk_bank_customers
ORDER BY `Balance` DESC
LIMIT 1;
SQLResult: [('Dorothy', Decimal('183467.70'))]
Answer:The person with the maximum balance is Dorothy with a balance of £183,467.70.
> Finished chain.

'The person with the maximum balance is Dorothy with a balance of £183,467.70.'

In [19]:
generate("Provide minimum balance and name, job classification")

> Entering new SQLDatabaseChain chain...
Provide minimum balance and name, job classification
SQLQuery:SELECT `Name`, `Job Classification`, MIN(`Balance`) AS `Minimum Balance`
FROM p6_uk_bank_customers
GROUP BY `Name`, `Job Classification`
ORDER BY `Minimum Balance`
LIMIT 5;
SQLResult: [('Jane', 'White Collar', Decimal('11.52')), ('Olivia', 'White Collar', Decimal('21.03')), ('Warren', 'Blue Collar', Decimal('69.01')), ('Megan', 'Blue Collar', Decimal('69.78')), ('Stewart', 'Blue Collar', Decimal('77.46'))]
Answer:The customers with the minimum balance along with their names and job classifications are:
1. Jane - White Collar - £11.52
2. Olivia - White Collar - £21.03
3. Warren - Blue Collar - £69.01
4. Megan - Blue Collar - £69.78
5. Stewart - Blue Collar - £77.46
> Finished chain.

'The customers with the minimum balance along with their names and job classifications are:\n1. Jane - White Collar - £11.52\n2. Olivia - White Collar - £21.03\n3. Warren - Blue Collar - £69.01\n4. Megan - Blue Collar - £69.78\n5. Stewart - Blue Collar - £77.46'

In [20]:
generate("What is the average age of customers in England?")

> Entering new SQLDatabaseChain chain...
What is the average age of customers in England?
SQLQuery:SELECT AVG(`Age`) AS `Average Age`
FROM p6_uk_bank_customers
WHERE `Region` = 'England'
SQLResult: [(Decimal('34.7879'),)]
Answer:The average age of customers in England is 34.79.
> Finished chain.

'The average age of customers in England is 34.79.'

In [21]:
generate("How many male and female customers are there in Northern Ireland?")

> Entering new SQLDatabaseChain chain...
How many male and female customers are there in Northern Ireland?
SQLQuery:SELECT `Gender`, COUNT(`Customer ID`) AS `Total Customers`
FROM p6_uk_bank_customers
WHERE `Region` = 'Northern Ireland'
GROUP BY `Gender`;
SQLResult: [('Female', 157), ('Male', 54)]
Answer:There are 157 female customers and 54 male customers in Northern Ireland.
> Finished chain.

'There are 157 female customers and 54 male customers in Northern Ireland.'

In [22]:
generate("how many are the oldest and youngest customers in the dataset?")

> Entering new SQLDatabaseChain chain...
how many are the oldest and youngest customers in the dataset?
SQLQuery:SELECT MIN(`Age`) AS Youngest, MAX(`Age`) AS Oldest
FROM p6_uk_bank_customers;
SQLResult: [(15, 64)]
Answer:The youngest customer is 15 years old and the oldest customer is 64 years old.
> Finished chain.

'The youngest customer in the dataset is 15 years old, and the oldest customer is 64 years old.'

In [23]:
generate("How many customers belong to each region?")

> Entering new SQLDatabaseChain chain...
How many customers belong to each region?
SQLQuery:SELECT `Region`, COUNT(`Customer ID`) AS `Number of Customers`
FROM `p6_uk_bank_customers`
GROUP BY `Region`
ORDER BY `Number of Customers` DESC;
SQLResult: [('England', 2159), ('Scotland', 1124), ('Wales', 520), ('Northern Ireland', 211)]
Answer:England has 2159 customers, Scotland has 1124 customers, Wales has 520 customers, and Northern Ireland has 211 customers.
> Finished chain.

'England has 2159 customers, Scotland has 1124 customers, Wales has 520 customers, and Northern Ireland has 211 customers.'

In [24]:
generate("What is the average account balance across all customers?")

> Entering new SQLDatabaseChain chain...
What is the average account balance across all customers?
SQLQuery:SELECT AVG(`Balance`) AS `Average Balance` FROM p6_uk_bank_customers;
SQLResult: [(Decimal('39766.448274'),)]
Answer:The average account balance across all customers is $39,766.45.
> Finished chain.

'The average account balance across all customers is $39,766.45.'

In [25]:
generate("Which region has the highest average balance?")

> Entering new SQLDatabaseChain chain...
Which region has the highest average balance?
SQLQuery:SELECT `Region`, AVG(`Balance`) AS `Average Balance`
FROM `p6_uk_bank_customers`
GROUP BY `Region`
ORDER BY `Average Balance` DESC
LIMIT 1;
SQLResult: [('Wales', Decimal('42390.056269'))]
Answer:Wales
> Finished chain.

'The region with the highest average balance is Wales.'

In [26]:
generate("What is the total balance of customers classified as 'White Collar'?")

> Entering new SQLDatabaseChain chain...
What is the total balance of customers classified as 'White Collar'?
SQLQuery:SELECT SUM(`Balance`) AS `Total Balance`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar';
SQLResult: [(Decimal('78065883.04'),)]
Answer:The total balance of customers classified as 'White Collar' is £78,065,883.04.
> Finished chain.

"The total balance of customers classified as 'White Collar' is £78,065,883.04."

In [27]:
generate("Who has the highest account balance in Wales?")

> Entering new SQLDatabaseChain chain...
Who has the highest account balance in Wales?
SQLQuery:SELECT `Name`, `Surname`, `Balance`
FROM p6_uk_bank_customers
WHERE `Region` = 'Wales'
ORDER BY `Balance` DESC
LIMIT 1;
SQLResult: [('Brandon', 'Clark', Decimal('145995.97'))]
Answer:Brandon Clark has the highest account balance in Wales with a balance of £145,995.97.
> Finished chain.

'Brandon Clark has the highest account balance in Wales with a balance of £145,995.97.'

In [28]:
generate("How many customers joined before 2020?")

> Entering new SQLDatabaseChain chain...
How many customers joined before 2020?
SQLQuery:SELECT COUNT(`Customer ID`) AS `Total Customers`
FROM p6_uk_bank_customers
WHERE `Date Joined` < '01.Jan.20';
SQLResult: [(34,)]
Answer:There are 34 customers who joined before 2020.
> Finished chain.

'There are 34 customers who joined before 2020.'

In [29]:
generate("What is the most common job classification in the dataset?")

> Entering new SQLDatabaseChain chain...
What is the most common job classification in the dataset?
SQLQuery:SELECT `Job Classification`, COUNT(`Job Classification`) AS `Job Count`
FROM p6_uk_bank_customers
GROUP BY `Job Classification`
ORDER BY `Job Count` DESC
LIMIT 1;
SQLResult: [('White Collar', 1955)]
Answer:White Collar
> Finished chain.

'The most common job classification in the dataset is White Collar.'

In [30]:
generate("How many customers are in the 'Blue Collar' job classification in Scotland?")

> Entering new SQLDatabaseChain chain...
How many customers are in the 'Blue Collar' job classification in Scotland?
SQLQuery:SELECT COUNT(`Customer ID`) AS `Total Customers`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'Blue Collar' AND `Region` = 'Scotland'
SQLResult: [(544,)]
Answer:There are 544 customers in the 'Blue Collar' job classification in Scotland.
> Finished chain.

"There are 544 customers in the 'Blue Collar' job classification in Scotland."

In [31]:
generate("What is the average balance of male customers in England?")

> Entering new SQLDatabaseChain chain...
What is the average balance of male customers in England?
SQLQuery:SELECT AVG(`Balance`) AS `Average Balance`
FROM p6_uk_bank_customers
WHERE `Gender` = 'Male' AND `Region` = 'England'
SQLResult: [(Decimal('38581.854270'),)]
Answer:The average balance of male customers in England is £38,581.85.
> Finished chain.

'The average balance of male customers in England is £38,581.85.'

In [32]:
generate("How many female customers from Northern Ireland have a balance greater than 50,000?")

> Entering new SQLDatabaseChain chain...
How many female customers from Northern Ireland have a balance greater than 50,000?
SQLQuery:SELECT COUNT(`Customer ID`) AS Female_Customers_Over_50000
FROM p6_uk_bank_customers
WHERE Gender = 'Female' AND Region = 'Northern Ireland' AND Balance > 50000;
SQLResult: [(51,)]
Answer:There are 51 female customers from Northern Ireland with a balance greater than 50,000.
> Finished chain.

'There are 51 female customers from Northern Ireland with a balance greater than 50,000.'

In [33]:
generate("List the top 5 customers with the highest balances in England.Give me in table formate.")

> Entering new SQLDatabaseChain chain...
List the top 5 customers with the highest balances in England.Give me in table formate.
SQLQuery:SELECT `Customer ID`, `Name`, `Surname`, `Balance`
FROM p6_uk_bank_customers
WHERE Region = 'England'
ORDER BY Balance DESC
LIMIT 5;
SQLResult: [(100001307, 'Dorothy', 'Jackson', Decimal('183467.70')), (100003450, 'Carl', 'Fraser', Decimal('181680.99')), (100003832, 'Sebastian', 'Arnold', Decimal('161517.82')), (100001823, 'Natalie', 'Paige', Decimal('149684.40')), (100003108, 'David', 'Metcalfe', Decimal('146892.37'))]
Answer:| Customer ID | Name      | Surname | Balance   |
|-------------|-----------|---------|-----------|
| 100001307   | Dorothy   | Jackson | 183467.70 |
| 100003450   | Carl      | Fraser  | 181680.99 |
| 100003832   | Sebastian | Arnold  | 161517.82 |
| 100001823   | Natalie   | Paige   | 149684.40 |
| 100003108   | David     | Metcalfe| 146892.37 |
> Finished chain.

'| Customer ID | Name      | Surname | Balance   |\n|-------------|-----------|---------|-----------|\n| 100001307   | Dorothy   | Jackson | 183467.70 |\n| 100003450   | Carl      | Fraser  | 181680.99 |\n| 100003832   | Sebastian | Arnold  | 161517.82 |\n| 100001823   | Natalie   | Paige   | 149684.40 |\n| 100003108   | David     | Metcalfe| 146892.37 |'

In [35]:
generate("If you had to predict a customer's balance based slowly on their job classification, which features would you prioritize, and why?")

> Entering new SQLDatabaseChain chain...
If you had to predict a customer's balance based slowly on their job classification, which features would you prioritize, and why?
SQLQuery:SELECT `Job Classification`, AVG(`Balance`) AS Avg_Balance, COUNT(`Customer ID`) AS Num_Customers
FROM p6_uk_bank_customers
GROUP BY `Job Classification`
ORDER BY Avg_Balance DESC, Num_Customers DESC
LIMIT 5;
SQLResult: [('White Collar', Decimal('39931.397974'), 1955), ('Other', Decimal('39824.341416'), 1010), ('Blue Collar', Decimal('39403.294090'), 1049)]
Answer:Based on the query results, if you had to predict a customer's balance based solely on their job classification, you would prioritize the "White Collar" job classification. This is because customers in the "White Collar" job classification have the highest average balance of £39,931.40 among the job classifications in the dataset. Additionally, there are 1955 customers in the "White Collar" job classification, providing a substantial sample size for analysis.
> Finished chain.

'If I had to predict a customer\'s balance based solely on their job classification, I would prioritize the "White Collar" job classification. This is because customers in the "White Collar" job classification have the highest average balance of £39,931.40 among the job classifications in the dataset. Additionally, there are 1955 customers in the "White Collar" job classification, providing a substantial sample size for analysis.'

In [36]:
generate("How would you determine if age and balance are correlated in this dataset?")

> Entering new SQLDatabaseChain chain...
How would you determine if age and balance are correlated in this dataset?
SQLQuery:SELECT `Age`, `Balance`
FROM p6_uk_bank_customers
LIMIT 5;
SQLResult: [(21, Decimal('113810.15')), (34, Decimal('36919.73')), (46, Decimal('101536.83')), (32, Decimal('1421.52')), (38, Decimal('35639.79'))]
Answer:To determine if age and balance are correlated in this dataset, we can look at the relationship between the `Age` and `Balance` columns in the `p6_uk_bank_customers` table.

The results show the age and balance of the customers in the dataset. By analyzing these values, we can further investigate if there is a correlation between age and balance.
> Finished chain.

"To determine if age and balance are correlated in this dataset, you can calculate the correlation coefficient between the `Age` and `Balance` columns. A correlation coefficient close to 1 indicates a strong positive correlation, close to -1 indicates a strong negative correlation, and close to 0 indicates no correlation. You can use statistical tools like Pearson's correlation coefficient to quantify the relationship between age and balance in the dataset."

In [40]:
generate("If 50% of customers with balances above £100,000 are classified as 'White Collar,'.")

> Entering new SQLDatabaseChain chain...
If 50% of customers with balances above £100,000 are classified as 'White Collar,'.
SQLQuery:SELECT `Name`, `Surname`, `Balance`, `Job Classification`
FROM p6_uk_bank_customers
WHERE `Balance` > 100000
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [('Dorothy', 'Jackson', Decimal('183467.70'), 'White Collar'), ('Carl', 'Fraser', Decimal('181680.99'), 'White Collar'), ('Connor', 'North', Decimal('172085.48'), 'Other'), ('Sebastian', 'Arnold', Decimal('161517.82'), 'Blue Collar'), ('Anna', 'Randall', Decimal('149698.12'), 'Blue Collar')]
Answer:Based on the query results, the customers with balances above £100,000 and classified as 'White Collar' are Dorothy Jackson and Carl Fraser.
> Finished chain.

"If 50% of customers with balances above £100,000 are classified as 'White Collar,' then Dorothy Jackson and Carl Fraser would be classified as 'White Collar' based on the query results."

In [41]:
generate("what can you infer about the remaining 30%?")

> Entering new SQLDatabaseChain chain...
what can you infer about the remaining 30%?
SQLQuery:SELECT `Gender`, COUNT(*) AS `Count`, ROUND(COUNT(*) * 100 / (SELECT COUNT(*) FROM p6_uk_bank_customers), 2) AS `Percentage`
FROM p6_uk_bank_customers
GROUP BY `Gender`
HAVING `Percentage` < 70
ORDER BY `Percentage` DESC
LIMIT 5;
SQLResult: [('Male', 2165, Decimal('53.94')), ('Female', 1849, Decimal('46.06'))]
Answer:The remaining 30% consists of 53.94% males and 46.06% females in the dataset.
> Finished chain.

'**Output:**\nThe remaining 30% of the dataset consists of 53.94% males and 46.06% females. This indicates a slightly higher representation of males compared to females in this subset of the data.'

In [42]:
generate("Given that most customers from Northern Ireland are under 40, what implications might this have for future product offerings?")

> Entering new SQLDatabaseChain chain...
Given that most customers from Northern Ireland are under 40, what implications might this have for future product offerings?
SQLQuery:SELECT `Customer ID`, `Name`, `Surname`, `Age`, `Region`
FROM p6_uk_bank_customers
WHERE `Region` = 'Northern Ireland' AND `Age` < 40
LIMIT 5;
SQLResult: [(400000002, 'Jasmine', 'Miller', 34, 'Northern Ireland'), (400000027, 'Rachel', 'McGrath', 37, 'Northern Ireland'), (400000044, 'Yvonne', 'Churchill', 22, 'Northern Ireland'), (400000048, 'Carolyn', 'Lewis', 19, 'Northern Ireland'), (400000075, 'Olivia', 'Dowd', 30, 'Northern Ireland')]
Answer:The implication for future product offerings could be to focus on creating products or services that cater to the needs and preferences of younger customers in Northern Ireland, as they make up a significant portion of the customer base in that region. This could involve developing innovative digital banking solutions, personalized financial planning services, or targeted marketing campaigns to attract and retain younger customers.
> Finished chain.

'The implication for future product offerings could involve developing innovative digital banking solutions, personalized financial planning services, or targeted marketing campaigns to cater to the needs and preferences of younger customers in Northern Ireland. By focusing on this demographic group, banks can attract and retain a significant portion of the customer base in that region, ensuring long-term growth and competitiveness.'

In [44]:
generate("How would you identify outliers in the balance column?")

> Entering new SQLDatabaseChain chain...
How would you identify outliers in the balance column?
SQLQuery:SELECT `Customer ID`, `Name`, `Surname`, `Balance`
FROM p6_uk_bank_customers
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [(100001307, 'Dorothy', 'Jackson', Decimal('183467.70')), (100003450, 'Carl', 'Fraser', Decimal('181680.99')), (200002010, 'Connor', 'North', Decimal('172085.48')), (100003832, 'Sebastian', 'Arnold', Decimal('161517.82')), (400000914, 'Anna', 'Randall', Decimal('149698.12'))]
Answer:To identify outliers in the balance column, you can look at the customers with the highest balances. The customers with the highest balances can be considered as potential outliers.
> Finished chain.

'To identify outliers in the balance column, you can use statistical methods such as calculating the Interquartile Range (IQR) and then determining the upper and lower bounds. Any balance values beyond these bounds can be considered as outliers. Additionally, visual methods like box plots can also help in identifying outliers by showing the distribution of balance values and highlighting any data points that fall far from the rest.'

In [45]:
generate("What steps would you take to verify if these outliers are valid?")

> Entering new SQLDatabaseChain chain...
What steps would you take to verify if these outliers are valid?
SQLQuery:SELECT `Customer ID`, `Name`, `Surname`, `Age`, `Region`, `Job Classification`, `Date Joined`, `Balance`
FROM p6_uk_bank_customers
WHERE `Age` < 18 OR `Age` > 65 OR `Balance` < 0
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [(400001671, 'Bernadette', 'Metcalfe', 17, 'Northern Ireland', 'Blue Collar', '19.Aug.15', Decimal('97610.35')), (400000359, 'Gabrielle', 'MacDonald', 17, 'Northern Ireland', 'Other', '03.May.15', Decimal('65798.40')), (400001234, 'Olivia', 'Dyer', 17, 'Northern Ireland', 'Other', '15.Jul.15', Decimal('13301.43')), (400002638, 'Jennifer', 'Sanderson', 15, 'Northern Ireland', 'White Collar', '15.Oct.15', Decimal('12548.21')), (400001426, 'Dominic', 'Young', 17, 'Northern Ireland', 'Other', '28.Jul.15', Decimal('5158.87'))]
Answer:To verify if these outliers are valid, I would take the following steps:
1. Check if the customers with ages below 18 or above 65 are minors or retirees, as they might have valid reasons for their balances.
2. Investigate the job classification of these customers to see if there are any patterns related to their balances.
3. Look into the date they joined to see if there are any anomalies or trends.
4. Contact these customers to confirm the accuracy of their balance information.

It's important to verify these outliers to ensure data integrity and accuracy.
> Finished chain.

'To verify if the outliers are valid, the following steps would be taken:\n1. Check if the customers with ages below 18 or above 65 are minors or retirees, as they might have valid reasons for their balances.\n2. Investigate the job classification of these customers to see if there are any patterns related to their balances.\n3. Look into the date they joined to see if there are any anomalies or trends.\n4. Contact these customers to confirm the accuracy of their balance information.\n\nBy following these steps, we can ensure data integrity and accuracy in the analysis of outliers.'

In [46]:
generate("If you find a customer with a balance significantly lower than others in their region, what could be the potential reasons?")

> Entering new SQLDatabaseChain chain...
If you find a customer with a balance significantly lower than others in their region, what could be the potential reasons?
SQLQuery:SELECT `Customer ID`, `Name`, `Surname`, `Region`, `Balance`
FROM p6_uk_bank_customers
WHERE Balance < (SELECT AVG(Balance) - (SELECT STDDEV(Balance) FROM p6_uk_bank_customers WHERE Region = p6_uk_bank_customers.Region) * 2
                 FROM p6_uk_bank_customers
                 WHERE Region = p6_uk_bank_customers.Region)
ORDER BY Region, Balance
LIMIT 5;
SQLResult:
Answer:The potential reasons for a customer having a significantly lower balance compared to others in their region could include overspending, financial difficulties, loss of income, or unexpected expenses.
> Finished chain.

'The potential reasons for a customer having a significantly lower balance compared to others in their region could include overspending, financial difficulties, loss of income, or unexpected expenses.'

In [47]:
generate("Analyze the distribution of balances across different regions. Is there a significant regional disparity? How would you visualize it?")

> Entering new SQLDatabaseChain chain...
Analyze the distribution of balances across different regions. Is there a significant regional disparity? How would you visualize it?
SQLQuery:SELECT `Region`, AVG(`Balance`) AS `Average Balance`, MAX(`Balance`) AS `Max Balance`, MIN(`Balance`) AS `Min Balance`
FROM p6_uk_bank_customers
GROUP BY `Region`
ORDER BY `Average Balance` DESC;
SQLResult: [('Wales', Decimal('42390.056269'), Decimal('145995.97'), Decimal('77.46')), ('Scotland', Decimal('39511.326263'), Decimal('172085.48'), Decimal('69.01')), ('Northern Ireland', Decimal('39505.053981'), Decimal('149698.12'), Decimal('21.03')), ('England', Decimal('39292.911996'), Decimal('183467.70'), Decimal('11.52'))]
Answer:The distribution of balances across different regions is as follows:
- Wales: Average Balance - £42,390.06, Max Balance - £145,995.97, Min Balance - £77.46
- Scotland: Average Balance - £39,511.33, Max Balance - £172,085.48, Min Balance - £69.01
- Northern Ireland: Average Balance - £39,505.05, Max Balance - £149,698.12, Min Balance - £21.03
- England: Average Balance - £39,292.91, Max Balance - £183,467.70, Min Balance - £11.52

There is a significant regional disparity in balances, with England having the highest average balance and Wales the lowest. To visualize this data, a bar chart or a box plot could be used to show the distribution of balances across different regions.
> Finished chain.

'The distribution of balances across different regions shows a significant regional disparity. Wales has the lowest average balance (£42,390.06) while England has the highest average balance (£39,292.91). The maximum balance is in England (£183,467.70) and the minimum balance is in Northern Ireland (£21.03). \n\nTo visualize this regional disparity, a bar chart or box plot can be used. The bar chart can display the average balance for each region, while the box plot can show the range of balances including the minimum, maximum, and median values across different regions.'

In [48]:
generate("How has the average balance changed over time for customers who joined the bank before and after 2018?")

> Entering new SQLDatabaseChain chain...
How has the average balance changed over time for customers who joined the bank before and after 2018?
SQLQuery:SELECT YEAR(`Date Joined`) AS Join_Year, AVG(`Balance`) AS Avg_Balance
FROM p6_uk_bank_customers
GROUP BY Join_Year
HAVING Join_Year < 2018 OR Join_Year >= 2018
ORDER BY Join_Year;
SQLResult:
Answer:The average balance has changed over time for customers who joined the bank before and after 2018.
> Finished chain.

'To analyze how the average balance has changed over time for customers who joined the bank before and after 2018, we can calculate the average balance for each group separately and compare them. This comparison will provide insights into any significant differences in the average balance between these two customer groups.'

In [49]:
generate("Compare the average balance for each job classification across different regions. Are there notable differences between regions for the same job type?")

> Entering new SQLDatabaseChain chain...
Compare the average balance for each job classification across different regions. Are there notable differences between regions for the same job type?
SQLQuery:SELECT `Region`, `Job Classification`, AVG(`Balance`) AS `Average Balance`
FROM p6_uk_bank_customers
GROUP BY `Region`, `Job Classification`
ORDER BY `Job Classification`, `Region`;
SQLResult: [('England', 'Blue Collar', Decimal('38567.841570')), ('Northern Ireland', 'Blue Collar', Decimal('38672.092439')), ('Scotland', 'Blue Collar', Decimal('39288.961029')), ('Wales', 'Blue Collar', Decimal('42566.395083')), ('England', 'Other', Decimal('40740.269522')), ('Northern Ireland', 'Other', Decimal('38785.713238')), ('Scotland', 'Other', Decimal('39602.168306')), ('Wales', 'Other', Decimal('39104.892947')), ('England', 'White Collar', Decimal('39156.305710')), ('Northern Ireland', 'White Collar', Decimal('41192.472462')), ('Scotland', 'White Collar', Decimal('40415.005238')), ('Wales', 'White Collar', Decimal('43343.924656'))]
Answer:Yes, there are notable differences between regions for the same job type. For example, for the job classification 'White Collar', the average balance is highest in Wales compared to other regions.
> Finished chain.

"Based on the data analysis, there are notable differences between regions for the same job type in terms of average balance. For the job classification 'White Collar', the average balance is highest in Wales compared to other regions. This suggests that the financial status of customers in the 'White Collar' job classification varies significantly across different regions, with Wales having the highest average balance."

In [51]:
generate("Is there a relationship between the gender and the average balance within the 'White Collar' classification? How would you test this statistically?")

> Entering new SQLDatabaseChain chain...
Is there a relationship between the gender and the average balance within the 'White Collar' classification? How would you test this statistically?
SQLQuery:SELECT `Gender`, AVG(`Balance`) AS `Average Balance`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar'
GROUP BY `Gender`
SQLResult: [('Female', Decimal('39989.144040')), ('Male', Decimal('39869.679958'))]
Answer:Yes, there seems to be a relationship between gender and the average balance within the 'White Collar' job classification. The average balance for females is £39,989.14, while the average balance for males is £39,869.68. To test this statistically, you could perform a t-test to determine if the difference in average balances between genders is statistically significant.
> Finished chain.

"Yes, there seems to be a relationship between gender and the average balance within the 'White Collar' job classification. The average balance for females is £39,989.14, while the average balance for males is £39,869.68. To test this statistically, you could perform a t-test to determine if the difference in average balances between genders is statistically significant."

In [52]:
generate("")

> Entering new SQLDatabaseChain chain...

SQLQuery:SELECT `Name`, `Surname`, `Age`, `Region`, `Balance`
FROM p6_uk_bank_customers
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [('Dorothy', 'Jackson', 31, 'England', Decimal('183467.70')), ('Carl', 'Fraser', 35, 'England', Decimal('181680.99')), ('Connor', 'North', 50, 'Scotland', Decimal('172085.48')), ('Sebastian', 'Arnold', 44, 'England', Decimal('161517.82')), ('Anna', 'Randall', 25, 'Northern Ireland', Decimal('149698.12'))]
Answer:The top 5 customers with the highest balance are:
1. Dorothy Jackson from England with a balance of 183467.70
2. Carl Fraser from England with a balance of 181680.99
3. Connor North from Scotland with a balance of 172085.48
4. Sebastian Arnold from England with a balance of 161517.82
5. Anna Randall from Northern Ireland with a balance of 149698.12
> Finished chain.

'The top 5 customers with the highest balance are:\n1. Dorothy Jackson from England with a balance of 183467.70\n2. Carl Fraser from England with a balance of 181680.99\n3. Connor North from Scotland with a balance of 172085.48\n4. Sebastian Arnold from England with a balance of 161517.82\n5. Anna Randall from Northern Ireland with a balance of 149698.12'

In [55]:
generate("If you were tasked with building a predictive model to classify customers as 'high balance' or 'low balance', what features would be most relevant, and why?")

> Entering new SQLDatabaseChain chain...
If you were tasked with building a predictive model to classify customers as 'high balance' or 'low balance', what features would be most relevant, and why?
SQLQuery:SELECT `Age`, `Region`, `Job Classification`, DATEDIFF(CURDATE(), STR_TO_DATE(`Date Joined`, '%d.%b.%y')) AS `Days Since Joined`, `Balance`
FROM p6_uk_bank_customers
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [(31, 'England', 'White Collar', 3417, Decimal('183467.70')), (35, 'England', 'White Collar', 3286, Decimal('181680.99')), (50, 'Scotland', 'Other', 3366, Decimal('172085.48')), (44, 'England', 'Blue Collar', 3266, Decimal('161517.82')), (25, 'Northern Ireland', 'Blue Collar', 3451, Decimal('149698.12'))]
Answer:The most relevant features for building a predictive model to classify customers as 'high balance' or 'low balance' would be:
1. Age: Older customers tend to have higher balances compared to younger customers.
2. Region: Customers from certain regions might have different spending habits or income levels that impact their balance.
3. Job Classification: Different job classifications could indicate varying income levels and spending behaviors.
4. Days Since Joined: Customers who have been with the bank for a longer period might have higher balances due to loyalty or accumulated savings.
5. Balance: The current balance is a crucial feature as it directly indicates whether a customer falls into the 'high balance' or 'low balance' category.
> Finished chain.

"The most relevant features for building a predictive model to classify customers as 'high balance' or 'low balance' would be:\n1. Age: Older customers tend to have higher balances compared to younger customers due to accumulated savings and financial stability.\n2. Region: Customers from different regions may have varying income levels and cost of living, impacting their account balances.\n3. Job Classification: Job type can be indicative of income levels, influencing the customer's balance.\n4. Days Since Joined: Longer tenure with the bank may lead to higher balances due to accumulated savings or loyalty benefits.\n5. Balance: The current balance is a critical feature as it directly determines whether a customer falls into the 'high balance' or 'low balance' category."

In [56]:
generate("How would you design a decision tree to predict whether a customer’s balance is above or below the average balance?")

> Entering new SQLDatabaseChain chain...
How would you design a decision tree to predict whether a customer’s balance is above or below the average balance?
SQLQuery:SELECT `Age`, `Region`, `Job Classification`, `Balance`
FROM p6_uk_bank_customers
LIMIT 5;
SQLResult: [(21, 'England', 'White Collar', Decimal('113810.15')), (34, 'Northern Ireland', 'Blue Collar', Decimal('36919.73')), (46, 'England', 'White Collar', Decimal('101536.83')), (32, 'Wales', 'White Collar', Decimal('1421.52')), (38, 'England', 'Blue Collar', Decimal('35639.79'))]
Answer:To design a decision tree to predict whether a customer's balance is above or below the average balance, you would typically use machine learning algorithms and techniques. One common approach is to use a decision tree classifier.

In this case, you can use the columns `Age`, `Region`, `Job Classification` as features and `Balance` as the target variable to train the decision tree model. The model will learn from the data to predict whether a customer's balance is above or below the average balance based on the provided features.

The SQL query provided fetches the necessary columns for this analysis.
> Finished chain.

"To design a decision tree to predict whether a customer's balance is above or below the average balance, you can use the following SQL query to fetch the required columns for training the model:\n\n```sql\nSELECT Age, Region, Job_Classification, Balance\nFROM dataset_table;\n```\n\nOnce you have the dataset with these columns, you can preprocess the data, split it into training and testing sets, and then train a decision tree classifier using libraries like scikit-learn in Python. The decision tree model will then be able to predict whether a customer's balance is above or below the average balance based on the provided features."

In [59]:
generate("Calculate the total balance for one region, then identify which region contributes the most to the total bank balance.?")

> Entering new SQLDatabaseChain chain...
Calculate the total balance for one region, then identify which region contributes the most to the total bank balance.?
SQLQuery:SELECT Region, SUM(Balance) AS Total_Balance
FROM p6_uk_bank_customers
GROUP BY Region
ORDER BY Total_Balance DESC
LIMIT 1;
SQLResult: [('England', Decimal('84833397.00'))]
Answer:The region that contributes the most to the total bank balance is England, with a total balance of £84,833,397.00.
> Finished chain.

'The region that contributes the most to the total bank balance is England, with a total balance of £84,833,397.00.'

In [60]:
generate("How would you present these findings to a non-technical audience?")

> Entering new SQLDatabaseChain chain...
How would you present these findings to a non-technical audience?
SQLQuery:SELECT `Name`, `Surname`, `Gender`, `Age`, `Region`, `Job Classification`, `Date Joined`, `Balance`
FROM p6_uk_bank_customers
LIMIT 5;
SQLResult: [('Simon', 'Walsh', 'Male', 21, 'England', 'White Collar', '05.Jan.15', Decimal('113810.15')), ('Jasmine', 'Miller', 'Female', 34, 'Northern Ireland', 'Blue Collar', '06.Jan.15', Decimal('36919.73')), ('Liam', 'Brown', 'Male', 46, 'England', 'White Collar', '07.Jan.15', Decimal('101536.83')), ('Trevor', 'Parr', 'Male', 32, 'Wales', 'White Collar', '08.Jan.15', Decimal('1421.52')), ('Deirdre', 'Pullman', 'Female', 38, 'England', 'Blue Collar', '09.Jan.15', Decimal('35639.79'))]
Answer:I would present the findings by showing the names, surnames, genders, ages, regions, job classifications, dates joined, and balances of the customers in a clear and concise manner. This information provides an overview of the customers' demographics, employment status, and financial standing.
> Finished chain.

"I would present the findings by showcasing a summary of the customers' profiles, including their gender, age, region of residence, job classification, date joined, and financial balance. This presentation offers a snapshot of the customers' characteristics, employment types, and financial positions in an easy-to-understand format."

In [65]:
generate("What percentage of customers have a balance above the medium balance?")

> Entering new SQLDatabaseChain chain...
What percentage of customers have a balance above the medium balance?
SQLQuery:SELECT COUNT(*) AS `Total Customers`,
    SUM(CASE WHEN `Balance` > (SELECT AVG(`Balance`) FROM p6_uk_bank_customers) THEN 1 ELSE 0 END) AS `Customers Above Median`
FROM p6_uk_bank_customers;
SQLResult: [(4014, Decimal('1708'))]
Answer:Approximately 42.5% of customers have a balance above the median balance.
> Finished chain.

'Approximately 42.5% of customers have a balance above the median balance.'

In [62]:
generate("How does this compare across different job classifications?")

> Entering new SQLDatabaseChain chain...
How does this compare across different job classifications?
SQLQuery:SELECT `Job Classification`, AVG(`Balance`) AS `Average Balance`
FROM p6_uk_bank_customers
GROUP BY `Job Classification`
ORDER BY `Average Balance` DESC
LIMIT 5;
SQLResult: [('White Collar', Decimal('39931.397974')), ('Other', Decimal('39824.341416')), ('Blue Collar', Decimal('39403.294090'))]
Answer:The average balance for customers in different job classifications is as follows:
1. White Collar: £39,931.40
2. Other: £39,824.34
3. Blue Collar: £39,403.29
> Finished chain.

'The average balance for customers in different job classifications is as follows:\n1. White Collar: £39,931.40\n2. Other: £39,824.34\n3. Blue Collar: £39,403.29\n\nThis indicates that customers in White Collar jobs tend to have slightly higher average balances compared to customers in Blue Collar jobs.'

In [69]:
generate("what ethical concerns might arise regarding potential biases?")

> Entering new SQLDatabaseChain chain...
what ethical concerns might arise regarding potential biases?
SQLQuery:SELECT `Name`, `Surname`, `Job Classification`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar' OR `Job Classification` = 'Blue Collar'
ORDER BY `Balance` DESC
LIMIT 5;
SQLResult: [('Dorothy', 'Jackson', 'White Collar'), ('Carl', 'Fraser', 'White Collar'), ('Sebastian', 'Arnold', 'Blue Collar'), ('Anna', 'Randall', 'Blue Collar'), ('Natalie', 'Paige', 'White Collar')]
Answer:The ethical concerns that might arise regarding potential biases in this case could be related to the fact that individuals in the "White Collar" job classification tend to have higher balances compared to those in the "Blue Collar" job classification. This could lead to biases in decision-making processes or resource allocation based on financial status.
> Finished chain.

'One ethical concern that might arise regarding potential biases in this case is the risk of perpetuating socio-economic disparities. If decisions or resource allocation are influenced by job classification and financial status, there is a possibility of marginalizing individuals in the "Blue Collar" job classification, leading to unequal treatment or opportunities based on financial standing rather than merit or need. It is important to address and mitigate these biases to ensure fair and equitable practices in decision-making processes.'

SELECT * FROM p6_uk_bank_customers;
SELECT AVG(Balance) AS `Average Balance`
FROM p6_uk_bank_customers
WHERE Region = 'England';
SELECT Name, Surname
FROM p6_uk_bank_customers
WHERE Region = 'England'
LIMIT 5;
SELECT COUNT(`Customer ID`) AS Male_Count
FROM p6_uk_bank_customers
WHERE Gender = 'Male';
SELECT COUNT(`Customer ID`) AS Female_Count
FROM p6_uk_bank_customers
WHERE Gender = 'Female' AND Region = 'Wales';
SELECT COUNT(`Customer ID`) AS `White Collar Count`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'White Collar';
SELECT Name, Balance 
FROM p6_uk_bank_customers 
ORDER BY Balance DESC 
LIMIT 1;
SELECT Name, `Job Classification`, MIN(Balance) AS `Minimum Balance`
FROM p6_uk_bank_customers
GROUP BY Name, `Job Classification`
ORDER BY `Minimum Balance`
LIMIT 5;
SELECT MAX(Balance) AS `Max Balance`
FROM p6_uk_bank_customers
WHERE Gender = 'Female';
SELECT AVG(Age) AS `Average Age`, AVG(Balance) AS `Average Balance`
FROM p6_uk_bank_customers
WHERE `Job Classification` = 'Blue Collar';
SELECT COUNT(`Customer ID`) AS Male_Count
FROM p6_uk_bank_customers
WHERE Gender = 'Male' AND Balance > 40000 AND Age > 30;